<div class="control-group">
  <div class="controls">
    <TextField
      @value={{this.ebaySeller}}
      @placeholderKey="ebay_ads.admin.username_prompt"
      @id="ebay-seller-search"
    />
    <DButton
      @action={{this.addSeller}}
      @icon="plus"
      @translatedLabel={{i18n "ebay_ads.admin.add"}}
      class="btn-primary"
    />
    <DButton
      @action={{this.blockSeller}}
      @translatedLabel={{i18n "ebay_ads.admin.block"}}
      @icon="ban"
      class="btn-primary btn-danger"
    />
  </div>
  <a href="https://www.ebay.com/usr/{{this.ebaySeller}}" target="_blank">https://www.ebay.com/usr/{{this.ebaySeller}}</a>
</div>
<hr>

<h3>{{i18n "ebay_ads.admin.seller_table"}}</h3>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{i18n "ebay_ads.admin.seller"}}</th>
        <th>{{i18n "ebay_ads.admin.updated"}}</th>
        <th></th>
        <th>{{i18n "ebay_ads.admin.listings"}}</th>
      </tr>
    </thead>

    {{#if this.allSellers}}

    <tbody>
      {{#each this.allSellers as |seller|}}
        <tr>
          <td>
            <a href="/u/{{seller.username}}/preferences/profile">{{seller.username}}</a>
            <br>{{#if seller.blocked}} ❌ {{else}} {{/if}}

            <a href="https://www.ebay.com/usr/{{seller.ebay_username}}" target="_blank">
                <span class="truncate-text">{{seller.ebay_username}}</span>
            </a>
          </td>
          <td>{{format-date seller.last_update}}</td>
          <td>
            {{#if seller.blocked}}
              <DButton 
                @action={{(fn this.unblockSellerFromTable seller.ebay_username)}}
                @translatedLabel={{i18n "ebay_ads.admin.unblock"}}
              />
            {{else}}
              <DButton 
                @action={{(fn this.blockSellerFromTable seller.ebay_username)}}
                @translatedLabel={{i18n "ebay_ads.admin.block"}}
                @icon="ban"
              />
            {{/if}}
            <DButton 
              @action={{(fn this.deleteSellerFromTable seller.ebay_username)}}
              @translatedLabel={{i18n "ebay_ads.admin.delete"}}
              class="btn-primary btn-danger"
              @icon="far-trash-alt"
            />
          </td>
          <td>
            {{seller.listings_count}}
          </td>
          <td>

            {{#if seller.username}}
              <DButton
                @action={{(fn this.fetchListings seller.username)}}
                @translatedLabel={{i18n "ebay_ads.admin.update"}}
                @icon="sync"
                class=""
              />
            {{/if}}

            <DButton
              @action={{(fn this.dumpListingsFromTable seller.ebay_username)}}
              @icon="broom"
              @translatedLabel={{i18n "ebay_ads.admin.clear"}}
              class="btn-primary btn-danger"
            />


          </td>
        </tr>
      {{/each}}
    </tbody>

    {{else}}
      <div class="spinner"></div>
    {{/if}}

  </table>
</div>
